.clearfix { *zoom:1; }
.clearfix:before, .clearfix:after {
  display:table;
  content:"";
  line-height:0;
}
.clearfix:after { clear:both; }
.hide-text {
  font:0 / 0 a;
  color:transparent;
  text-shadow:none;
  background-color:transparent;
  border:0;
}
.input-block-level {
  display:block;
  width:100%;
  min-height:;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
body {
  background:url('../images/bgMain.jpg') repeat top center #c3a99e;
  background-size:cover;
  font-size:0.93em;
}
.price {
  background:url('../images/notesBg.png') no-repeat center top;
  margin-top:30px;
  height:750px;
}
.note_price {
  background:url('../images/noteBg_medium_2.png') no-repeat center top;
  background-size:cover;
  width:563px;
  height:601px;
  margin-left:20px;
  margin-top:-40px;
  padding-top:20px;
  text-align:justify;
}
.home {
  background:url('../images/notesBg.png') no-repeat center top;
  margin-top:30px;
  height:756px;
}
.note_home {
  background:url('../images/noteBg_medium.png') no-repeat center top;
  width:563px;
  height:521px;
  margin-left:20px;
  margin-top:100px;
  padding-top:20px;
}
.info {
  background:url('/images/notesBg_big.png') no-repeat center top;
  margin-top:30px;
  margin-bottom:30px;
  height:800px;
}
.note_info {
  background:url('/images/noteBg_medium_2.png') no-repeat center top;
  background-size:cover;
  width:563px;
  height:600px;
  margin-left:30px;
  text-align:justify;
}
.note_search {
  background:url('../images/noteBg_medium.png') no-repeat center top;
  width:563px;
  height:521px;
  margin-left:20px;
  margin-top:100px;
}
.search {
  background:url('../images/notesBg.png') no-repeat center top;
  margin-top:30px;
  height:756px;
}
.index {
  background:url('../images/topLine.png') no-repeat center top;
  margin-top:50px;
  height:50px;
}
.order {
  background:#3b3b3c;
  border-radius:5px;
  margin:5px 20px 0 -30px;
  padding-top:20px;
  padding-bottom:2px;
  -webkit-box-shadow:0px 5px 7px rgba(50,50,50,0.45);
  -moz-box-shadow:0px 5px 7px rgba(50,50,50,0.45);
  box-shadow:0px 5px 7px rgba(50,50,50,0.45);
}
.note_index {
  background:url('../images/noteBg_big.png') no-repeat center top;
  height:355px;
  margin-left:30px;
  padding:20px 55px;
  overflow:hidden;
  text-align:justify;
}
.content {
  padding-top:10px;
  margin:0 30px;
  background:#dfe0e1;
  text-align:center;
  z-index:1;
  -webkit-box-shadow:0px 5px 7px rgba(50,50,50,0.45);
  -moz-box-shadow:0px 5px 7px rgba(50,50,50,0.45);
  box-shadow:0px 5px 7px rgba(50,50,50,0.45);
}
.index_search {
  background:#3b3b3c;
  border-radius:5px;
  margin-top:10px;
  padding:10px;
  height:30px;
  overflow:hidden;
  margin-left:30px;
}
.mail_notes {
  background:url('/images/notesBg.png') no-repeat center top;
  margin-top:30px;
  padding:40px 0 0 0;
  height:750px;
}
.mail_notes .mail_order {
  background:#3b3b3c;
  padding:10px 20px 1px 20px;
  margin:0 20px;
  -webkit-box-shadow:0px 5px 7px rgba(50,50,50,0.45);
  -moz-box-shadow:0px 5px 7px rgba(50,50,50,0.45);
  box-shadow:0px 5px 7px rgba(50,50,50,0.45);
}
.mail_notes .mail_order input { height:auto; }
.mail_notes .mail_order .control-label {
  color:#ffffff;
  font-size:1.3em;
  text-align:left;
}
